<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="2.2.1" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="Vanara.Core" version="3.4.17" targetFramework="net48" />
  <package id="Vanara.PInvoke.ComCtl32" version="3.4.17" targetFramework="net48" />
  <package id="Vanara.PInvoke.Cryptography" version="3.4.17" targetFramework="net48" />
  <package id="Vanara.PInvoke.Gdi32" version="3.4.17" targetFramework="net48" />
  <package id="Vanara.PInvoke.Kernel32" version="3.4.17" targetFramework="net48" />
  <package id="Vanara.PInvoke.Ole" version="3.4.17" targetFramework="net48" />
  <package id="Vanara.PInvoke.Rpc" version="3.4.17" targetFramework="net48" />
  <package id="Vanara.PInvoke.Security" version="3.4.17" targetFramework="net48" />
  <package id="Vanara.PInvoke.Shared" version="3.4.17" targetFramework="net48" />
  <package id="Vanara.PInvoke.Shell32" version="3.4.17" targetFramework="net48" />
  <package id="Vanara.PInvoke.ShlwApi" version="3.4.17" targetFramework="net48" />
  <package id="Vanara.PInvoke.User32" version="3.4.17" targetFramework="net48" />
</packages>